body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eaeaea;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-group input[type="text"],
.input-group button {
    margin: 0 5px;
}

.input-group button {
    cursor: pointer;
}

.plateau {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin: auto;
}

.grid-cell {
    width: 60px;
    height: 60px;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.rover {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}